<div class="container-fluid" style="margin-top: 77px;">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="tabsComponent" class="positionRelative">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15221.989279781685!2d78.34438615!3d17.4837577!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1523880395980" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        <!-- <h1>Angular Google Maps (AGM) Demo</h1>
        <p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>
         -->
        <div id="incidentMapArea">
          <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">
        
            <agm-marker 
            *ngFor="let m of markers; let i = index" 
            (mouseOver)="clickedMarker(m.label, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status, m.co2, m.so2, m.no2, m.o2, m.noise);gm.lastOpen?.close(); gm.lastOpen = infoWindow" 
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [label]="m.label" 
            [markerDraggable]="m.draggable"
            [iconUrl] = "m.iconUrl"
            (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window #infoWindow>
                  <div class="tooltipData">
                    <strong class="text-center" style="color:red;    text-align: center !important;
                    display: inherit;">Report Status</strong> 
                    <strong><hr class="hrStyle1"/></strong>
                    <strong>Area: {{ info1 }}</strong> <br>
                    <!-- <strong>Type: {{type}}</strong> <br> -->
                    <!-- <strong>Previous Reading: {{previousReading}}</strong> <br> -->
                    <!-- <strong>Current Reading: {{currentReading}}</strong> <br> -->
                    <!-- <strong>Time: {{time}}</strong> <br> -->
                    <strong>CO2: {{co2}}</strong> kgs <br>
                    <strong>SO2: {{so2}}</strong> kgs <br>
                    <strong>NO2: {{no2}}</strong> kgs <br>
                    <strong>O2: {{o2}}</strong> kgs <br>
                    <strong>Noise Level: {{noise}}</strong> DB<br>
                    <strong>Device Status: {{status}}</strong> <br>
                    
                  </div>
                </agm-info-window>

            </agm-marker>
            <!-- <agm-circle [latitude]="lat + 0.1" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
            </agm-circle> -->
        </agm-map>
        </div>
        <!--    new map     -->

        <!--    new map     -->
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

      <div id="tabsArea" class="multitabs parentTabs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Panel title</h3> -->
            <ul class="list-inline panel-actions">
              <li>
                <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                  <i class="glyphicon glyphicon-resize-full"></i>
                </a>
              </li>
            </ul>
            <ul class="nav nav-tabs" id='tabULL'>
              <li class="active" data-toggle="tooltip" title="CO2">
                <a data-toggle="tab" href="#tab1" class="text-capitalize">CO2</a>
              </li>
              <li data-toggle="tooltip" title="SO2">
                <a data-toggle="tab" href="#tab2" class="text-capitalize" (click) = "daily()" >SO2</a>
              </li>
              <li data-toggle="tooltip" title="NO2">
                <a data-toggle="tab" href="#tab3" class="text-capitalize" (click) = "daily()">NO2</a>
              </li>
              <li data-toggle="tooltip" title="O2">
                <a data-toggle="tab" href="#tab4" class="text-capitalize" (click) = "daily()">O2</a>
              </li>
              <li data-toggle="tooltip" title="Noise Level">
                <a data-toggle="tab" href="#tab5" class="text-capitalize" (click) = "daily()">Noise Level</a>
              </li>
              <li data-toggle="tooltip" title="All">
                <a data-toggle="tab" href="#tab6" class="text-capitalize" (click) = "daily()">All</a>
              </li>
            </ul>

          </div>
          <div class="panel-body">
            <div class="tab-content chartContent">
              <div id="tab1" class="tab-pane fade in active charts1234">

                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options">
                      <!-- <series>
                          <point (select)="onPointSelect($event)"></point>
                      </series> -->
                    </chart>
              </div>
              <div id="tab2" class="tab-pane fade in  charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options1">
                    </chart>
              </div>
              <div id="tab3" class="tab-pane fade in  charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options2">
                    </chart>
              </div>            
              <div id="tab4" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                
                <!-- <p>
                  <a (click)="abcd(natural1)" [innerText]="natural1"></a>
                </p>
                <p>
                  <a (click)="abcd(natural2)" style="color:#999;" [innerText]="natural2"></a>
                </p>
                <p>
                  <a (click)="abcd(natural3)" [innerText]="natural3"></a>
                </p> -->
                <chart [options]="options3">
                </chart>
              </div>
              <div id="tab5" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()"  class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                <!-- <p>
                  <a (click)="abcd(mass1)" [innerText]="mass1"></a>
                </p>
                <p>
                  <a (click)="abcd(mass2)" style="color:#999;" [innerText]="mass2"></a>
                </p>
                <p>
                  <a (click)="abcd(mass3)" [innerText]="mass3"></a>
                </p> -->
                <chart [options]="options4">
                </chart>
              </div>
              <div id="tab6" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                    <chart [options]="options5">
                      </chart>
                <!-- <p>
                  <a (click)="abcd(parking1)" [innerText]="parking1"></a>
                </p>
                <p>
                  <a (click)="abcd(parking2)" style="color:#999;" [innerText]="parking2"></a>
                </p>
                <p>
                  <a (click)="abcd(parking3)" [innerText]="parking3"></a>
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>




<div id="waterlevelPopUp1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content m-top200  wow swing animated">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
        <!-- <img src="../assets/images/alert icon.png" class="img-responsive alertPosition"> -->
        <!-- <h4 class="modal-title alertStyle" >ALERT</h4> -->
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -10px;"> {{'Notification Sent'}} </p>
        </div>
      </div>
    </div>
  </div>
</div>