<div  style="margin-top:150px;">
  <div class="col-lg-12">
      <!-- <app-dashboard></app-dashboard> -->
  </div>
  <div class="col-lg-12">
    <div class="col-sm-3">
        <div style="margin-top:20px;">
            <!-- <app-device-info></app-device-info> -->
        </div>
    </div>
    <div class="col-sm-3">
        <div style="margin-top:20px;">
          <img src = "../../assets/images/device.PNG" style="width: 300px;height: 200px;">
        </div>
      </div>
      <div class="col-sm-3">
          <div style="margin-top:20px;">
              <img src = "../../assets/images/city.PNG" style="width: 300px;height: 200px;">
          </div>
        </div>
        <div class="col-sm-3">
            <div style="margin-top:20px;">
                <img src = "../../assets/images/air.PNG" style="width: 300px;height: 200px;">
            </div>
          </div>
        

  </div>
  </div>