<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero m_top40" style="box-shadow: 0px 3px 29px 5px #ddd;">
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 paddingLeftRightZero">
    <div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li> 
        </ol>    
        <!-- Wrapper for slides -->
        <div class="carousel-inner slide">
          <div class="item active">
            <img src="../assets/images/slider_1.jpg" class="img-responsive slideimgHeight" >
          </div>
    
         <div class="item">
            <img src="../assets/images/slider_3.jpg" class="img-responsive slideimgHeight" >
          </div>
          <div class="item">
            <img src="../assets/images/slider_4.jpg" class="img-responsive slideimgHeight">
          </div>
          <div class="item">
            <img src="../assets/images/slider_5.jpg" class="img-responsive slideimgHeight" >
          </div>
          <div class="item">
            <img src="../assets/images/slider_6.jpg" class="img-responsive slideimgHeight">
          </div> 
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 paddingLeftRightZero">
    <div class="loginBg">
     <app-login-component></app-login-component>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m_top40" style="margin-bottom: 84px;">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="divCenter">
      <img src="/../../assets/images/img_01.jpg" class="img-responsive m_b10">
      <div class="f-bold">
        Greater villages to Smart Cities <br> Conversion
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="divCenter">
        <img src="/../../assets/images/img_02.jpg" class="img-responsive m_b10 ">
        <div class="f-bold">
            Smart Schools to provide best <br> Education
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="divCenter">
      <img src="/../../assets/images/img_03.jpg" class="img-responsive m_b10">
      <div class="f-bold">
        Smart Traffic Management <br> For Road Safety
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="divCenter">
        <img src="/../../assets/images/img_04.jpg" class="img-responsive m_b10">
        <div class="f-bold">
          24X7 Tracking with Smart security <br> Management
        </div>
      </div>
  </div>

</div>
