.incidentBg{
    background-image: url(/../../assets/images/airinfo_bg.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: table;
    position: relative;
    padding: 10px;
}
.bgofTxt{
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}
.incidentborderStyle{
    border-bottom: 1px solid #ddd;
    padding: 4px;
    min-height: 30px;
}
.hidetxt{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
}
.dotStyle{
    border: 1px solid #e7ea0e;
    width: 10px;
    height: 10px;
    float: right;
    background: #e7ea0e;
    border-radius: 10px;
}
.dotStyle1{
    border: 1px solid #ff4a4a;
    width: 10px;
    height: 10px;
    float: right;
    background:#ff4a4a;
    border-radius: 10px;

}
.dotStyle2{
    border: 1px solid #5fe034;
    width: 10px;
    height: 10px;
    float: right;
    background: #5fe034;
    border-radius: 10px;

}
