<div class="bgColorHeight container">
  <div style="padding-top: 110px;">
    <div class="incidentBg">
      <div class="col-sm-12 m-btm20">
        <div class="f-size24 color-fff text-center">Incident Management Dashboard</div>
        <hr class="hrStyle2"/>
        <div class="f_right">
              <select class="f-size16 drpDwnStyle" (change)="pressureChanged($event.target.value)">
                  <option class="color-000" *ngFor="let i of cityArray">{{i}}</option>
                </select>
        </div>
      </div>
      <div class="col-lg-12 co-md-12 col-sm-12 col-xs-12 m-btm20">
        <div class="col-sm-4 ">
          <div>
            <div>
              <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Bridge/Road Collapse</b></div>
              <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
            </div>
            <ul class="listStyle_none bgofTxt">
              <li class="incidentborderStyle">
                <div class="hidetxt f_left" ><a (click) = "abcd(road1)" [innerText]="road1"></a></div>
                
                <div class="dotStyle"></div>
              </li>
              <li class="incidentborderStyle">
                <div class="hidetxt f_left"><a (click) = "abcd(road2)" [innerText]="road2"></a></div>
                <div class="dotStyle1"></div>
              </li>
              <li class="incidentborderStyle">
                <div class="hidetxt f_left"><a (click) = "abcd(road3)" [innerText]="road3"></a></div>
                <div class="dotStyle2"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 ">
            <div>
              <div>
                <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Accidental Emergency</b></div>
                <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
              </div>
              <ul class="listStyle_none bgofTxt">
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"> <a (click) = "abcd(accident1)" [innerText]="accident1"></a></div>
                  <div class="dotStyle"></div>
                </li>
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"><a (click) = "abcd(accident2)" [innerText]="accident2"></a></div>
                  <div class="dotStyle1"></div>
                </li>
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"><a (click) = "abcd(accident3)" [innerText]="accident3"></a> </div>
                  <div class="dotStyle2"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 ">
              <div>
                <div>
                  <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Fire</b></div>
                  <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
                </div>
                <ul class="listStyle_none bgofTxt">
                  <li class="incidentborderStyle">
                    <div class="hidetxt f_left"><a (click) = "abcd(fire1)" [innerText]="fire1"></a></div>
                    <div class="dotStyle"></div>
                  </li>
                  <li class="incidentborderStyle">
                    <div class="hidetxt f_left"><a (click) = "abcd(fire2)" [innerText]="fire2"></a></div>
                    <div class="dotStyle1"></div>
                  </li>
                  <!-- <li class="incidentborderStyle">
                    <div class="hidetxt f_left">{{fireArray[2].news}}</div>
                    <div class="dotStyle2"></div>
                  </li> -->
                </ul>
              </div>
            </div>
      </div>
      <div class="col-lg-12 co-md-12 col-sm-12 col-xs-12 m-btm20">
          <div class="col-sm-4 ">
            <div>
              <div>
                <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Natural Disaster</b></div>
                <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
              </div>
              <ul class="listStyle_none bgofTxt">
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"><a (click) = "abcd(natural1)" [innerText]="natural1"></a></div>
                  <div class="dotStyle"></div>
                </li>
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"><a (click) = "abcd(natural2)" [innerText]="natural2"></a></div>
                  <div class="dotStyle1"></div>
                </li>
                <li class="incidentborderStyle">
                  <div class="hidetxt f_left"><a (click) = "abcd(natural3)" [innerText]="natural3"></a> </div>
                  <div class="dotStyle2"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 ">
              <div>
                <div>
                  <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Mass Crowd</b></div>
                  <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
                </div>
                <ul class="listStyle_none bgofTxt">
                  <li class="incidentborderStyle">
                    <div class="hidetxt f_left"><a (click) = "abcd(mass1)" [innerText]="mass1"></a></div>
                    <div class="dotStyle"></div>
                  </li>
                  <li class="incidentborderStyle">
                    <div class="hidetxt f_left"><a (click) = "abcd(mass2)" [innerText]="mass2"></a></div>
                    <div class="dotStyle1"></div>
                  </li>
                  <li class="incidentborderStyle">
                    <div class="hidetxt f_left"><a (click) = "abcd(mass3)" [innerText]="mass3"></a></div>
                    <div class="dotStyle2"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 ">
                <div>
                  <div>
                    <div class="f_left f-size16" style="padding: 2px 15px 10px 29px;"><b>Parking</b></div>
                    <div class="f_right" style="padding: 2px 15px 10px 29px;">Severity</div>
                  </div>
                  <ul class="listStyle_none bgofTxt">
                    <li class="incidentborderStyle">
                      <div class="hidetxt f_left"><a (click) = "abcd(parking1)" [innerText]="parking1"></a></div>
                      <div class="dotStyle"></div>
                    </li>
                    <li class="incidentborderStyle">
                      <div class="hidetxt f_left"><a (click) = "abcd(parking2)" [innerText]="parking2"></a></div>
                      <div class="dotStyle1"></div>
                    </li>
                    <li class="incidentborderStyle">
                      <div class="hidetxt f_left"><a (click) = "abcd(parking3)" [innerText]="parking3"></a></div>
                      <div class="dotStyle2"></div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>