<div class="bgColorHeight">
  <div style="padding-top:90px;">
    <div class="row-fluid">

      <div class="col-lg-12 col-md-12 col-sm-12 positionRelative" style="border: 1px solid #ddd;padding: 0px;">

            <nav mat-tab-nav-bar aria-label="weather navigation links" class="master" id="aa">
              <!-- <a
                   [routerLink]="city"
                   >
                   tabsArea
               </a> -->
               <div  class="multitabs">
               <ul id="parentTabs" class="nav123 nav nav-tabs m-btm20" style="background: whitesmoke;padding: 10px 10px 0px 10px;    position: fixed;z-index: 999;width: 100%;margin-top: -2px;">
                
                <li class="active" data-toggle="tooltip" title="ICCC" >
                  <a  routerLink="/parent/iccc/{{city}}"> ICCC </a>
                </li>
                <li  data-toggle="tooltip" title="Stat Level" >
                  <a  routerLink="/parent/statlevel/{{city}}">State Level </a>
                </li>
                <li  data-toggle="tooltip" title="Incident Dashboard" >
                  <a  routerLink="/parent/tabsArea/{{city}}"> Incident Dashboard</a>
                </li>
                <li data-toggle="tooltip" title="Environmental Dashboard">
                  <a routerLink="/parent/environment/{{city}}"> Environmental Dashboard</a>
                </li>
                <li data-toggle="tooltip" title="Digital Assets">
                  <a routerLink="/parent/digitalAsset/{{city}}"> Digital Assets</a>
                </li>
                </ul>
                </div>
          </nav>
          
          <select class="f-size16 viewMapStyle" [(ngModel)]="selectedValue" style="border-color: #999; font-weight: bold; font-size: 18px;cursor:pointer;color:#999;z-index:999;margin-top: 92px;position:fixed;" (change)="pressureChanged(selectedValue)">
            <option style="color:#999;" *ngFor="let i of cityArray" [ngValue]="i">{{i}}</option>
          </select>
          <!-- <button (click) = "generate()">Generate Incident</button> -->
          <router-outlet></router-outlet>

   </div>
   </div>
   </div>
   </div>

   <div id="waterlevelPopUp" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> {{textAlert}} </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="detail()">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="incident()" disabled>Record incident</button>
            <button class="btn btn-default btnIncident01" disabled>Check SOP's</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <div id="waterlevelPopUp100" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> Smoke Alert </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="detail1()">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="cancelAlert()" >Cancel</button>
            <!-- <button class="btn btn-default  btnIncident01" (click)="incident1()" disabled>Record incident</button>
            <button class="btn btn-default btnIncident01" disabled>Check SOP's</button> -->
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <div id="waterlevelPopUpCam" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> Camera ALert </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="detailCam()">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="cancelAlert1()" >Cancel</button>
            <!-- <button class="btn btn-default  btnIncident01" (click)="incident1()" disabled>Record incident</button>
            <button class="btn btn-default btnIncident01" disabled>Check SOP's</button> -->
          </div>
        </div>
      </div>
  
    </div>
  </div>