<div>
  <div class="container-fluid col-lg-12 " style="padding-left: 0px; padding-right: 0px;">
    <div class="">
      <app-header-component></app-header-component>
    </div> 
<div>
  <router-outlet></router-outlet> 

</div>
    <div class="">
      <app-footer-component></app-footer-component>
    </div>
  </div>
</div>
