<div>
    <div class="m-top140 text-center m-btm20">
        <h2>TAMILNADU</h2>
        <h4>SMART CITIES</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="    margin-bottom: 56px;">
        <div>
            <ul class="listStyle_none">
                <li class="f_left mapCenter"> 
                    <div class="txtStyle"><a class="txtStyle" (click) = "click(coimbatore)" [innerText]="coimbatore"></a></div>
                    <div class="borderNradius">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
        
                            <agm-marker *ngFor="let m of markers; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" 
                            [latitude]="m.lat" [longitude]="m.lng"
                            [label]="m.label" [markerDraggable]="m.draggable" 
                            (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Coimbatore</strong>
                                </agm-info-window>
            
                            </agm-marker>
                        </agm-map>
                    </div>
                </li>
                <li class="f_left mapCenter">
                    <div class="txtStyle"><a class="txtStyle" (click) = "click(madurai)" [innerText]="madurai"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                            <agm-map [latitude]="latMadurai" [longitude]="lngMadurai" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                                <agm-marker *ngFor="let m of markersMadurai; let i = index" 
                                (markerClick)="clickedMarker(m.city, i)" 
                                [latitude]="m.lat" [longitude]="m.lng"
                                    [label]="m.label" [markerDraggable]="m.draggable" 
                                    (dragEnd)="markerDragEnd(m, $event)">
                
                                    <agm-info-window>
                                        <strong>Madurai</strong>
                                    </agm-info-window>
                
                                </agm-marker>
                
                                <!-- <agm-circle [latitude]="latMadurai + 0.1" [longitude]="lngMadurai" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                                </agm-circle> -->
                
                            </agm-map>
                        </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Salem</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(salem)" [innerText]="salem"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latSalem" [longitude]="lngSalem" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersSalem; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Salem</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latSalem + 0.1" [longitude]="lngSalem" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                    </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Thanjavur</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(thanjavur)" [innerText]="thanjavur"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latThanjavur" [longitude]="lngThanjavur" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersThanjavur; let i = index" (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Thanjavur</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latThanjavur + 0.1" [longitude]="lngThanjavur" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                    </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Tiruchirapalli</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(tiruchirapalli)" [innerText]="tiruchirapalli"></a></div>
                        <div class="borderNradius" >
                        <agm-map [latitude]="latTiruchirapalli" [longitude]="lngTiruchirapalli" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersTiruchirapalli; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Tiruchirapalli</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                           </agm-map>
                     </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Vellore</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(vellore)" [innerText]="vellore"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latVellore" [longitude]="lngVellore" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersVellore; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Vellore</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latVellore + 0.1" [longitude]="lngVellore" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                    </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Tirunelveli</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(tirunelveli)" [innerText]="tirunelveli"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latTirunelveli" [longitude]="lngTirunelveli" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersTirunelveli; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Tirunelveli</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latTirunelveli + 0.1" [longitude]="lngTirunelveli" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                        </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Tiruppur</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(tiruppur)" [innerText]="tiruppur"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latTiruppur" [longitude]="lngTiruppur" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersTiruppur; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Tiruppur</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latTiruppur + 0.1" [longitude]="lngTiruppur" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                        </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Thoothukudi</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(thoothukudi)" [innerText]="thoothukudi"></a></div>
                        <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderNradius"> -->
                        <div class="borderNradius">
                        <agm-map [latitude]="latThoothukudi" [longitude]="lngThoothukudi" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersThoothukudi; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Thoothukudi</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
                            <!-- <agm-circle [latitude]="latThoothukudi + 0.1" [longitude]="lngThoothukudi" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle> -->
            
                        </agm-map>
                        </div>
                </li>
                <li class="f_left mapCenter">
                        <!-- <div class="txtStyle">Erode</div> -->
                        <div class="txtStyle"><a class="txtStyle" (click) = "click(erode)" [innerText]="erode"></a></div>
                        <div class="borderNradius">
                        <agm-map [latitude]="latErode" [longitude]="lngErode" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            
                            <agm-marker *ngFor="let m of markersErode; let i = index" 
                            (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            
                                <agm-info-window>
                                    <strong>Erode</strong>
                                </agm-info-window>
            
                            </agm-marker>
            
            
                        </agm-map>
                        </div>
                </li>
            </ul>
        </div>
       
    </div>
 
</div>