 /*** media queries ***/
 @media(max-width:1367px){
    .hidentxt{
        width:66px !important;
    }

 }
 @media(max-width:1000px) and (min-width:768px){
    #ticker01{width:88% !important;}
 }
    @media(min-width: 992px) {
     .positionRelative {
         position: relative;
     }
     #digitalDashboard.darkHeader, #incidentMapArea.darkHeader,  #incidentMapArea111.darkHeader {
       position: fixed;
       top: 15%;
       left: 3%;
       width: 53%;
       height: 450px;
       overflow: hidden;
     }
     #incidentMapArea.darkHeader { 
         width: 48% !important; 
         height: 650px !important;
         left: 1% !important;
        } 
        #incidentMapArea111.darkHeader {
            width: 41% !important;
            height: 650px !important;
            left: 1% !important;
        }
   }
   @media(max-width: 991px) {
     .positionRelative {
         position: relative;
     }
     .slideimgHeight{
        height: 200px !important;
    }
     #digitalDashboard {
       position: relative;
       top: 10%;
       left: 0;
       width: 100%;
       height: 400px;
       overflow: hidden;
     }
   }
   @media (min-width: 590px) and (max-width: 1400px) {
   .dotsArea {
         display:inline-block;
         width:150px;
         white-space: nowrap;
         overflow:hidden !important;
         text-overflow: ellipsis;
   }
 }
 @media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-menubuilder.collapse.in {
        background: #fff;
        margin-top: 39px;
    }
    .dashboardDrpdwn {
        border-color: #fff;
        margin-top: 0 !important;
        /* font-size: 18px; */
        width: 100%;
        text-align: left;
        border-radius: 0;
        padding-left: 18px;
    }
}
  
 @media (min-width: 768px) {
         .modal-dialog { top: 30%; }         
 }
 @media (max-width:768px){
    .popupDwn{margin-top:240px;}
    #custom-bootstrap-menu.navbar-default {
        z-index: 9999 !important;
    }
    #custom-bootstrap-menu.navbar-default[_ngcontent-c1] .navbar-nav[_ngcontent-c1] > .active[_ngcontent-c1] > a[_ngcontent-c1], #custom-bootstrap-menu.navbar-default[_ngcontent-c1] .navbar-nav[_ngcontent-c1] > .active[_ngcontent-c1] > a[_ngcontent-c1]:hover, #custom-bootstrap-menu.navbar-default[_ngcontent-c1] .navbar-nav[_ngcontent-c1] > .active[_ngcontent-c1] > a[_ngcontent-c1]:focus{
        padding: 15px 20px !important;
    }
 }
@media (max-width:544px){
    #ticker01 {
        width: 80% !important;
        padding: 0px;    
    }
}