<div class="bgColorHeight naturalContainer">
    <div style="padding-top: 110px;">
      <div class="naturalArea">
        <!-- <div class="col-sm-12 m-btm20">
          <div class="f-size24 f_left">Incidents</div>
          <div class="f_right">
                <select class="f-size16 drpDwnN" (change)="pressureChanged($event.target.value)">
                    <option class="color-000" *ngFor="let i of cityArray">{{i}}</option>
                  </select>
          </div>
        </div>    -->
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 areaStyle1">
            <div class="titleStyle1 text-center">City Alerts Dashboard - Critical</div>
            <div class="color-blue f-bold text-left" style="font-size:18px">{{title}}</div>
            <div>
              <table class="table borderless">
                <tr>
                  <td>Area</td>
                  <td>:</td>
                  <td colspan="2">{{area}}</td>
                </tr>
                <tr>
                  <td>Distance</td>
                  <td>:</td>
                  <td colspan="2">{{distance}}</td>
                </tr>
                <tr>
                  <td>Engage</td>
                  <td>:</td>
                  <td colspan="2">20:20:20</td>
                </tr>
                <tr>
                  <td>Nearest Police Station</td>
                  <td>:</td>
                  <td>{{area}} Police Station</td>
                  <td><button class="btn btn-default bgGrey" (click) = "waterPolice()">Send Alert</button></td>
                </tr>
                <tr>
                    <td>Nearest Fire Station</td>
                    <td>:</td>
                    <td>{{area}} Fire Station</td>
                    <td><button class="btn btn-default bgGrey" (click) = "waterFire()">Send Alert</button></td>
                </tr>
                <tr>
                    <td>Nearest Hospital</td>
                    <td>:</td>
                    <td>{{hospital}} Hospital</td>
                    <td><button class="btn btn-default bgGrey" (click) = "waterHospital()">Send Alert</button></td>
                </tr>
              </table>
            </div>
            
        </div>    
      
      </div>
    </div>
  </div>

  <div id="waterlevelPopUp1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content m-top200  wow swing animated" >
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <!-- <img src="../assets/images/alert icon.png" class="img-responsive alertPosition"> -->
          <!-- <h4 class="modal-title alertStyle" >ALERT</h4> -->
          <div class="modal-body">
            <p class="text-center  f-size20" style="margin-top: -12px;"> {{textAlert}} </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-info btnClass" (click) = "dashBoard()"> Back to Dashboard </button>