.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #a2cdff;
    border: 1px solid #a2cdff;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #4bc1ef;
    margin-bottom: 30px;
}