<div class="container-fluid" style="    margin-top: 110px;    min-height: 540px;">
    <!-- <h2>Security</h2> -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Digital Assts</a></li>
      <li><a data-toggle="tab" href="#menu1">Dashboard</a></li>
      <li><a data-toggle="tab" href="#dashboard">City Dashboard</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <!-- <h3>Digital assets</h3> -->
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 30px;">
          <!-- <h4 style="text-align:center"><b>Digital Assests</b></h4> -->
        
              <app-map></app-map>
          
           
        </div>
        <!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 30px;">
          <app-device-info></app-device-info>
        </div> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
      <div id="menu1" class="tab-pane fade">
      <div style="background:#000;">
          <!-- <app-dashboard></app-dashboard> -->
      </div>
      </div>
      <div id="dashboard" class="tab-pane fade">
        <div class="col-lg-12">
            <!-- <app-dashboard></app-dashboard> -->
        </div>
        <div class="col-lg-12">
          <div class="col-sm-3">
              <div style="margin-top:20px;">
                  <app-device-info></app-device-info>
              </div>
          </div>
          <div class="col-sm-3">
              <div style="margin-top:20px;">
                <img src = "../../assets/images/device.PNG" style="width: 300px;height: 200px;">
              </div>
            </div>
            <div class="col-sm-3">
                <div style="margin-top:20px;">
                    <img src = "../../assets/images/city.PNG" style="width: 300px;height: 200px;">
                </div>
              </div>
              <div class="col-sm-3">
                  <div style="margin-top:20px;">
                      <img src = "../../assets/images/air.PNG" style="width: 300px;height: 200px;">
                  </div>
                </div>
              

        </div>
        </div>
      
    </div>
  </div>