agm-map {
    height: 450px;
    /* width: 1500px; */
  }
  
  
  .btnicc{
    left: 0px;
    right: 0px;
    margin: auto;
    display: table;
    text-align: center;
    margin-left: 30px;
    background: #a3ccff;
    border: 0;
    padding: 6px 15px;
    color:#fff;
  }
  .officeBtns{
    margin: auto;
    left: 0;
    right: 0;
    display: table;
    border-top: 0px;
  }
  .selectDrpStyle{
    border-radius: 4px;
    padding: 5px 4px;
  }