<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 icccmap" style="margin-top:46px;">
      <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat" [longitude]="m.lng"
          [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)" (mouseOver)="mouseOver($event, m.label, m.city, m.severity, m.type, infoWindow, gm)">

          <agm-info-window #infoWindow class="font-sanserif">
            <strong [hidden]="!city" class="font-sanserif">City Name: {{city}}</strong>
            <br>
            <strong [hidden]="!area" class="font-sanserif">Area Name: {{area}}</strong>
            <br>
            <strong [hidden]="!severity" class="font-sanserif">Severity: {{severity}}</strong>
            <br>
            <strong [hidden]="!type" class="font-sanserif">Type: {{type}}</strong>
            <br>
            <br>
            <button class="btn btnicc font-sanserif f_left m_right10px" (click)="incidentChange(m)">View Details</button>
            <!-- <button class="btn btnicc font-sanserif" (click) = "escalation(m)">Escalation</button> -->
            <button type="button" data-backdrop="static" data-keyboard="false" class="btn btn-default bgGrey map_button" data-toggle="modal"
              data-target="#mapView1">Escalation</button>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
<div id="popUpSmoke" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content wow swing animated popupDwn">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
        <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
        <h4 class="modal-title alertStyle">ALERT</h4>
      </div>
      <div class="modal-body">
        <p class="text-center  f-size20" style="margin-top: -12px;"> Smoke Alert </p>
        <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
        <div class="divCenter">
          <button class="btn btn-default btnIncident01" (click)="smokeDetail()">View in detail</button>
          <button class="btn btn-default  btnIncident01" (click)="cancelAlert()">Cancel</button>
          <!-- <button class="btn btn-default  btnIncident01" (click)="incident1()" disabled>Record incident</button>
            <button class="btn btn-default btnIncident01" disabled>Check SOP's</button> -->
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="mapView1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
        <form>
      <div class="modal-body">
        <!-- <select>
            <option>Commisioner</option>
            <option>Superintendent Of Police</option>
            <option>Commisioner</option>
          </select> -->
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="f-size16 f-bold ">
            Officers :
          </div>
          <select [(ngModel)]="selectedValue" class="selectDrpStyle" placeholder="Select Officers"
             name="email" [(ngModel)] = "escalate.email">
            
            <option style="color:#999;" *ngFor="let i of heros" [ngValue]="i">{{i}}</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="f-size16 f-bold ">
            Comments :
          </div>
          <textarea name = "text" [(ngModel)] = "escalate.text"></textarea>
        </div>


      </div>

      <div class="modal-footer officeBtns" >
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="escalation()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>

  </div>
</div>
<div id="popupEscalation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content m-top200  wow swing animated">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
        <!-- <img src="../assets/images/alert icon.png" class="img-responsive alertPosition"> -->
        <!-- <h4 class="modal-title alertStyle" >ALERT</h4> -->
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -10px;"> {{'Notification Sent'}} </p>
        </div>
      </div>
    </div>
  </div>
</div>